/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-abr-2020, 19:42:44
    Author     : josem
*/
body{
    padding-left: 11em;
    font-family: Arial, Helvetica, sans-serif;
    color : #2b2c2a;
    overflow: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, rgb(154, 201, 201), whitesmoke);
    background: -moz-linear-gradient( to left top, rgb(154, 201, 201), whitesmoke);
    background: -ms-linear-gradient( to left top, rgb(154, 201, 201), whitesmoke);
    background: -o-linear-gradient( to left top, rgb(154, 201, 201), whitesmoke);
    background: linear-gradient( to left top, rgb(154, 201, 201), whitesmoke);
}

u1.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}

u2.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    right: 1em;
    width: 9em;
}

u1.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
}

u1.navbar a{
    text-decoration: none;
}

u2.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-left: 1em solid black;
}

u2.navbar a{
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(0, 151, 151);
}

form {
    background: white;
    margin: auto;
    padding: 0.3em;
    border: 3px solid black;
    min-width: 82%;
    max-width: 82%;
    overflow: auto;
    border-radius: 4px;
    float: left;
}

input[type=text], input[type=password] {
    width: auto;
    margin: 0.3rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input[type=submit] {
    background-color: #23416c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #325c96;    
}
