/* 
    Created on : 10-abr-2020, 13:47:32
    Author     : josem
*/
/* 
    Created on : 10-abr-2020, 12:14:59
    Author     : josem
*/
body{
    padding-left: 11em;
    font-family: Arial, Helvetica, sans-serif;
    color : #2b2c2a;
    background-color: rgb(154, 201, 201);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
div {
    font-family: Arial, Helvetica, sans-serif;  
    margin-top: 1em;
    width: 50%;
    border: 3px solid black;
    padding: 20px;
}
u1.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}
u2.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    right: 1em;
    width: 9em;
}
u1.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
}
u1.navbar a{
    text-decoration: none;
}
u2.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-left: 1em solid black;
}
u2.navbar a{
    text-decoration: none;
}
a:link {
    color: rgb(0, 151, 151);
}
a:visited {
    color: rgb(0, 151, 151);
}




