/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-abr-2020, 12:20:40
    Author     : josem
*/
body{
    padding-left: 11em;
    font-family: Arial, Helvetica, sans-serif;
    color : #2b2c2a;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, whitesmoke,rgb(154, 201, 201));
    background: -moz-linear-gradient( to left top, rgb(154, 201, 201), whitesmoke);
    background: -ms-linear-gradient( to left top, rgb(154, 201, 201), whitesmoke);
    background: -o-linear-gradient( to left top, rgb(154, 201, 201), whitesmoke);
    background: linear-gradient( to left top, rgb(154, 201, 201), whitesmoke);
}

u1.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}
u2.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    right: 1em;
    width: 9em;
}
u1.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
}
u1.navbar a{
    text-decoration: none;
}
u2.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-left: 1em solid black;
}
u2.navbar a{
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(0, 151, 151);
    text-decoration: none;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input[type=submit] {
    background-color: #23416c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;   
}

input[type=submit]:hover {
    background-color: #325c96;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

form {
    background: white;
    border: 2px solid #555;
    min-width: 83.05%;
    max-width: 83.05%;
    position: relative;
    padding-left: 5px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin-bottom: 1rem;
}

table{
    table-layout: fixed;
    background: white;
    border-right: 2px solid #555;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;
    border-collapse: collapse;
    position: relative;
    min-width: 61.5rem;
    max-width: 61.5rem;
}

tr:nth-child(odd) {
    background-color: #eee;
}

th {
    background-color: #555;
    color: #fff;
}

th,
td {
    text-align: left;
    padding: 0.5em 0.61em;    
}

